<!DOCTYPE html>
<html lang="zh">

<head>
    <title>等待区</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/time.js"></script>
    <script src="js/wait.js"></script>
    <script src="config.js"></script>
    <style>
        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 20px;
        }

        #submitBtn {
            display: block;
            /* 将 button 元素设置为块级元素 */
            clear: both;
            margin-top: 20px;
            /* 在上方添加 20 像素的间距 */
            align-items: center;
        }

        #count {
            display: inline-block;
            /* 将包含 X 人数的 div 元素设置为内联块级元素 */
        }

        #queueInfo {
            display: inline-block;
            /* 将包含整个句子的 div 元素设置为内联块级元素 */
        }
    </style>

    <script>
        var timerId;
        window.onload = function () {
            getQueueInfo();
            getTimeFromServer();

            // callGetTimeFromServer();
            setInterval(function () {
                getTimeFromServer();
                getQueueInfo();
            }, 60 * 1000); // 每60秒调用一次函数

            window.onbeforeunload = function () {
                clearInterval(timerId);
            };

        }
    </script>

</head>

<body>
    <header class="header">
        <h1>等待区</h1>
        <div id="time"></div>
    </header>
    <nav class="navbar">
        <ul>
            <li><a href="#">申请充电</a></li>
            <li><a href="#">等待区</a></li>
            <li><a href="#">Database</a></li>
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Calendar</a></li>
        </ul>
        <ul>

            <li><a href="#">退出</a></li>
        </ul>
    </nav>
    <main class="content">
        <!-- <% for (let i = 0; i < waitZones.length; i++) { %>
			<div class="card">
				<h3>等待号码：<%= waitZones[i].queueNumber %></h3>
				<p>用户名：<%= waitZones[i].username %></p>
				<p>车牌号：<%= waitZones[i].plateNumber %></p>
			</div>
		<% } %> -->
        <div class="card">
            <h3>你的排队号码：<div id="queueNumber"></div>
            </h3>

            <div id="queueInfo">前方还有 <div id="count"></div> 人</div>


        </div>

        <br>



    </main>
    <div class="button-container">
        <input type="button" value="查询排队状态" id="submitBtn">

    </div>
    <div class="button-container">
        <input type="button" value="修改充电请求" id="modifyBtn">

    </div>
    <div class="button-container">
        <input type="button" value="取消充电" id="cancelBtn">

    </div>
    <div id="chargingOptions" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>

            <label>
                <input type="radio" id="chargingMode-fast" name="chargingMode" value="F" checked>
                快充
            </label>

            <label>
                <input type="radio" id="chargingMode-slow" name="chargingMode" value="T">
                慢充
            </label>


            <br>
            <br>

            <label for="chargingAmount">输入请求充电量 (KWh)：</label>
            <input type="number" id="chargingAmount" name="chargingAmount" min="1" step="0.01" required>

            <div class="button-container">
                <input type="button" value="提交" id="submit">

            </div>
        </div>
    </div>
    <script>
        document.getElementById("submitBtn").addEventListener("click", function () {
            // 在这里添加你要运行的代码
            var requestOptions = {
                method: 'GET',
                headers: {
                    'User-Agent': 'Apifox/1.0.0 (https://www.apifox.cn)',
                    'Content-Type': 'application/json',
                    'Authorization': preToken + localStorage.getItem('token')
                },
                redirect: 'follow'
            };

            fetch(serverURL + "/queue/info", requestOptions)
                .then(response => response.text())
                .then(result => {
                    console.log(result);
                    const res = JSON.parse(result);
                    if (res.code === 0) {
                        document.getElementById("queueNumber").innerText = res.data.chargeId;
                        document.getElementById("count").innerText = res.data.queueLen;
                        alert(`你的排队号码是 ${res.data.chargeId}，前方还有 ${res.data.queueLen} 人`);
                        if (res.data.curState === "WAITINGSTAGE2" || res.data.curState === "CHARGING") {
                            alert(`请前往 ${res.data.place} 号充电桩`);
                            window.location.href = "charging.html?chargerId="+res.data.place;
                        } else if (res.data.curState === "FAULTREQUEUE") {
                            alert("充电桩故障，正在重新分配");
                        }

                    } else if (res.code === -1) {
                        alert(res.message);
                    }
                })
                .catch(error => console.log('error', error));
        });

        const modifyBtn = document.getElementById("modifyBtn");
        const popup = document.getElementById("chargingOptions");
        const closeBtn = document.getElementsByClassName("close")[0];

        modifyBtn.addEventListener("click", () => {
            popup.style.display = "block";
        });

        closeBtn.addEventListener("click", () => {
            popup.style.display = "none";
        });

        window.addEventListener("click", (event) => {
            if (event.target == popup) {
                popup.style.display = "none";
            }
        });

        // 获取提交按钮元素
        var submitBtn = document.getElementById('submit');

        // 给提交按钮添加点击事件
        submitBtn.addEventListener('click', function () {
            // 获取选中的单选按钮元素
            const selectedRadio = document.querySelector('input[name="chargingMode"]:checked');

            // 获取选中的单选按钮的值
            const chargingMode = selectedRadio.value;
            const chargingAmountInput = document.getElementById('chargingAmount');
            const chargingAmount = parseFloat(chargingAmountInput.value);
            if (isNaN(chargingAmount) ||
                chargingAmount.toFixed(2) !== chargingAmountInput.value) {
                alert('请输入正确的充电量 (精确到小数点后两位)');
                return;
            }
            const data = { chargingMode, chargingAmount };
            console.log(data);
            const requestOptions = {
                method: 'POST',
                headers: {
                    'User-Agent': 'Apifox/1.0.0 (https://www.apifox.cn)',
                    'Content-Type': 'application/json',
                    'Authorization': preToken + localStorage.getItem('token')
                },
                body: JSON.stringify(data),
                redirect: 'follow'
            };
            fetch(serverURL + "/queue/change", requestOptions)
                .then(response => response.text())
                .then(result => {
                    const res = JSON.parse(result);
                    console.log(res);
                    if (res.code === 0) {
                        alert(res.message);
                    } else if (res.code === -1) {
                        alert(res.message);
                    }
                })
                .catch(error => console.error(error));
        });
    </script>
</body>

</html>